In [32]:
from random import randint
import datetime
from datetime import timedelta

In [ ]:
# book(published_date)
# update books set published_date = "2015-10-03"

In [25]:
#issues (borrow_date return_date)
for i in range(202101,202151):
  date=datetime.date(randint(2019,2021), randint(1,3),randint(1,28))
  x = randint(16,25)
  Enddate = date + timedelta(days=x)
  d = str(date)  
  r = str(Enddate) 
  print("update issues set borrow_date = " + '"' + d + '"'  " where id = " + str(i)+";" )
  print("update issues set return_date = " + '"' + r + '"'  " where id = " + str(i)+";" )

update issues set borrow_date = "2020-03-09" where id = 202101;
update issues set return_date = "2020-04-02" where id = 202101;
update issues set borrow_date = "2020-02-08" where id = 202102;
update issues set return_date = "2020-02-29" where id = 202102;
update issues set borrow_date = "2019-01-15" where id = 202103;
update issues set return_date = "2019-02-08" where id = 202103;
update issues set borrow_date = "2021-03-21" where id = 202104;
update issues set return_date = "2021-04-14" where id = 202104;
update issues set borrow_date = "2021-02-23" where id = 202105;
update issues set return_date = "2021-03-12" where id = 202105;
update issues set borrow_date = "2021-03-14" where id = 202106;
update issues set return_date = "2021-04-05" where id = 202106;
update issues set borrow_date = "2021-01-22" where id = 202107;
update issues set return_date = "2021-02-14" where id = 202107;
update issues set borrow_date = "2020-03-02" where id = 202108;
update issues set return_date = "2020-03-24" where id = 202108;
update issues set borrow_date = "2020-02-07" where id = 202109;
update issues set return_date = "2020-02-23" where id = 202109;
update issues set borrow_date = "2021-01-26" where id = 202110;
update issues set return_date = "2021-02-12" where id = 202110;
update issues set borrow_date = "2019-03-16" where id = 202111;
update issues set return_date = "2019-04-01" where id = 202111;
update issues set borrow_date = "2019-01-22" where id = 202112;
update issues set return_date = "2019-02-16" where id = 202112;
update issues set borrow_date = "2021-02-22" where id = 202113;
update issues set return_date = "2021-03-15" where id = 202113;
update issues set borrow_date = "2021-01-02" where id = 202114;
update issues set return_date = "2021-01-23" where id = 202114;
update issues set borrow_date = "2020-02-08" where id = 202115;
update issues set return_date = "2020-02-28" where id = 202115;
update issues set borrow_date = "2021-01-03" where id = 202116;
update issues set return_date = "2021-01-20" where id = 202116;
update issues set borrow_date = "2021-02-03" where id = 202117;
update issues set return_date = "2021-02-26" where id = 202117;
update issues set borrow_date = "2021-02-02" where id = 202118;
update issues set return_date = "2021-02-26" where id = 202118;
update issues set borrow_date = "2020-02-07" where id = 202119;
update issues set return_date = "2020-02-24" where id = 202119;
update issues set borrow_date = "2021-02-12" where id = 202120;
update issues set return_date = "2021-03-03" where id = 202120;
update issues set borrow_date = "2019-03-24" where id = 202121;
update issues set return_date = "2019-04-18" where id = 202121;
update issues set borrow_date = "2021-02-03" where id = 202122;
update issues set return_date = "2021-02-21" where id = 202122;
update issues set borrow_date = "2021-02-24" where id = 202123;
update issues set return_date = "2021-03-19" where id = 202123;
update issues set borrow_date = "2020-01-14" where id = 202124;
update issues set return_date = "2020-02-06" where id = 202124;
update issues set borrow_date = "2021-01-04" where id = 202125;
update issues set return_date = "2021-01-27" where id = 202125;
update issues set borrow_date = "2021-03-05" where id = 202126;
update issues set return_date = "2021-03-27" where id = 202126;
update issues set borrow_date = "2021-02-08" where id = 202127;
update issues set return_date = "2021-03-05" where id = 202127;
update issues set borrow_date = "2020-02-27" where id = 202128;
update issues set return_date = "2020-03-22" where id = 202128;
update issues set borrow_date = "2019-01-12" where id = 202129;
update issues set return_date = "2019-02-04" where id = 202129;
update issues set borrow_date = "2020-02-01" where id = 202130;
update issues set return_date = "2020-02-25" where id = 202130;
update issues set borrow_date = "2021-02-28" where id = 202131;
update issues set return_date = "2021-03-25" where id = 202131;
update issues set borrow_date = "2020-03-07" where id = 202132;
update issues set return_date = "2020-03-24" where id = 202132;
update issues set borrow_date = "2021-02-23" where id = 202133;
update issues set return_date = "2021-03-13" where id = 202133;
update issues set borrow_date = "2020-02-23" where id = 202134;
update issues set return_date = "2020-03-12" where id = 202134;
update issues set borrow_date = "2021-02-12" where id = 202135;
update issues set return_date = "2021-03-08" where id = 202135;
update issues set borrow_date = "2019-01-27" where id = 202136;
update issues set return_date = "2019-02-21" where id = 202136;
update issues set borrow_date = "2021-01-24" where id = 202137;
update issues set return_date = "2021-02-13" where id = 202137;
update issues set borrow_date = "2019-03-08" where id = 202138;
update issues set return_date = "2019-04-02" where id = 202138;
update issues set borrow_date = "2019-03-02" where id = 202139;
update issues set return_date = "2019-03-20" where id = 202139;
update issues set borrow_date = "2021-01-01" where id = 202140;
update issues set return_date = "2021-01-21" where id = 202140;
update issues set borrow_date = "2020-03-20" where id = 202141;
update issues set return_date = "2020-04-11" where id = 202141;
update issues set borrow_date = "2021-03-28" where id = 202142;
update issues set return_date = "2021-04-17" where id = 202142;
update issues set borrow_date = "2021-03-23" where id = 202143;
update issues set return_date = "2021-04-12" where id = 202143;
update issues set borrow_date = "2021-03-12" where id = 202144;
update issues set return_date = "2021-04-05" where id = 202144;
update issues set borrow_date = "2021-01-15" where id = 202145;
update issues set return_date = "2021-02-06" where id = 202145;
update issues set borrow_date = "2019-03-25" where id = 202146;
update issues set return_date = "2019-04-10" where id = 202146;
update issues set borrow_date = "2020-02-19" where id = 202147;
update issues set return_date = "2020-03-09" where id = 202147;
update issues set borrow_date = "2021-01-21" where id = 202148;
update issues set return_date = "2021-02-13" where id = 202148;
update issues set borrow_date = "2021-01-09" where id = 202149;
update issues set return_date = "2021-01-31" where id = 202149;
update issues set borrow_date = "2021-02-17" where id = 202150;
update issues set return_date = "2021-03-06" where id = 202150;

In [28]:
#book_requests (requested_at)
for i in range(1001,1051):
  date=datetime.date(randint(2019,2021), randint(1,3),randint(1,28))
  x = randint(16,25)
  Enddate = date + timedelta(days=x)
  d = str(date)  
  print("update book_requests set requested_at = " + '"' + d + '"'  " where id = " + str(i)+";" )

update book_requests set requested_at = "2019-01-19" where id = 1001;
update book_requests set requested_at = "2020-02-19" where id = 1002;
update book_requests set requested_at = "2021-03-26" where id = 1003;
update book_requests set requested_at = "2021-01-10" where id = 1004;
update book_requests set requested_at = "2019-03-24" where id = 1005;
update book_requests set requested_at = "2020-03-22" where id = 1006;
update book_requests set requested_at = "2021-02-27" where id = 1007;
update book_requests set requested_at = "2019-02-18" where id = 1008;
update book_requests set requested_at = "2021-02-25" where id = 1009;
update book_requests set requested_at = "2021-02-14" where id = 1010;
update book_requests set requested_at = "2020-02-12" where id = 1011;
update book_requests set requested_at = "2021-02-28" where id = 1012;
update book_requests set requested_at = "2019-02-17" where id = 1013;
update book_requests set requested_at = "2019-02-19" where id = 1014;
update book_requests set requested_at = "2021-03-06" where id = 1015;
update book_requests set requested_at = "2020-02-22" where id = 1016;
update book_requests set requested_at = "2020-03-09" where id = 1017;
update book_requests set requested_at = "2021-03-05" where id = 1018;
update book_requests set requested_at = "2021-02-21" where id = 1019;
update book_requests set requested_at = "2019-03-22" where id = 1020;
update book_requests set requested_at = "2019-02-22" where id = 1021;
update book_requests set requested_at = "2020-02-23" where id = 1022;
update book_requests set requested_at = "2021-02-15" where id = 1023;
update book_requests set requested_at = "2020-01-18" where id = 1024;
update book_requests set requested_at = "2019-02-24" where id = 1025;
update book_requests set requested_at = "2019-03-23" where id = 1026;
update book_requests set requested_at = "2020-01-16" where id = 1027;
update book_requests set requested_at = "2021-03-01" where id = 1028;
update book_requests set requested_at = "2021-03-06" where id = 1029;
update book_requests set requested_at = "2019-01-11" where id = 1030;
update book_requests set requested_at = "2021-03-23" where id = 1031;
update book_requests set requested_at = "2020-03-06" where id = 1032;
update book_requests set requested_at = "2020-01-01" where id = 1033;
update book_requests set requested_at = "2019-01-12" where id = 1034;
update book_requests set requested_at = "2019-01-25" where id = 1035;
update book_requests set requested_at = "2020-03-17" where id = 1036;
update book_requests set requested_at = "2021-02-18" where id = 1037;
update book_requests set requested_at = "2021-01-08" where id = 1038;
update book_requests set requested_at = "2021-03-11" where id = 1039;
update book_requests set requested_at = "2020-01-16" where id = 1040;
update book_requests set requested_at = "2020-02-22" where id = 1041;
update book_requests set requested_at = "2020-01-03" where id = 1042;
update book_requests set requested_at = "2021-03-21" where id = 1043;
update book_requests set requested_at = "2020-01-09" where id = 1044;
update book_requests set requested_at = "2019-03-01" where id = 1045;
update book_requests set requested_at = "2021-03-22" where id = 1046;
update book_requests set requested_at = "2021-02-25" where id = 1047;
update book_requests set requested_at = "2019-02-16" where id = 1048;
update book_requests set requested_at = "2020-03-17" where id = 1049;
update book_requests set requested_at = "2019-03-17" where id = 1050;

In [29]:
# users (created_at)
for i in range(1,201):
  date=datetime.date(randint(2018,2021), randint(1,4),randint(1,28))
  d = str(date)  
  print("update users set created_at = " + '"' + d + '"'  " where id = " + str(i)+";" )

update users set created_at = "2019-02-18" where id = 1;
update users set created_at = "2020-04-04" where id = 2;
update users set created_at = "2019-01-23" where id = 3;
update users set created_at = "2018-02-02" where id = 4;
update users set created_at = "2020-02-08" where id = 5;
update users set created_at = "2020-02-14" where id = 6;
update users set created_at = "2021-02-13" where id = 7;
update users set created_at = "2019-03-17" where id = 8;
update users set created_at = "2019-03-14" where id = 9;
update users set created_at = "2019-01-02" where id = 10;
update users set created_at = "2020-03-10" where id = 11;
update users set created_at = "2021-02-10" where id = 12;
update users set created_at = "2020-02-12" where id = 13;
update users set created_at = "2018-04-03" where id = 14;
update users set created_at = "2020-01-25" where id = 15;
update users set created_at = "2018-04-03" where id = 16;
update users set created_at = "2018-01-12" where id = 17;
update users set created_at = "2021-03-11" where id = 18;
update users set created_at = "2021-03-18" where id = 19;
update users set created_at = "2018-04-03" where id = 20;
update users set created_at = "2020-03-19" where id = 21;
update users set created_at = "2020-02-27" where id = 22;
update users set created_at = "2018-01-02" where id = 23;
update users set created_at = "2020-02-04" where id = 24;
update users set created_at = "2020-03-14" where id = 25;
update users set created_at = "2021-03-20" where id = 26;
update users set created_at = "2020-01-18" where id = 27;
update users set created_at = "2021-04-04" where id = 28;
update users set created_at = "2020-03-06" where id = 29;
update users set created_at = "2020-03-07" where id = 30;
update users set created_at = "2019-04-26" where id = 31;
update users set created_at = "2021-01-15" where id = 32;
update users set created_at = "2018-04-06" where id = 33;
update users set created_at = "2018-01-12" where id = 34;
update users set created_at = "2020-02-14" where id = 35;
update users set created_at = "2020-02-27" where id = 36;
update users set created_at = "2020-04-06" where id = 37;
update users set created_at = "2020-03-10" where id = 38;
update users set created_at = "2018-04-23" where id = 39;
update users set created_at = "2018-03-20" where id = 40;
update users set created_at = "2019-02-12" where id = 41;
update users set created_at = "2020-02-10" where id = 42;
update users set created_at = "2020-02-19" where id = 43;
update users set created_at = "2018-01-08" where id = 44;
update users set created_at = "2020-03-03" where id = 45;
update users set created_at = "2021-04-15" where id = 46;
update users set created_at = "2021-04-18" where id = 47;
update users set created_at = "2021-01-13" where id = 48;
update users set created_at = "2021-03-14" where id = 49;
update users set created_at = "2019-04-11" where id = 50;
update users set created_at = "2019-02-24" where id = 51;
update users set created_at = "2020-01-10" where id = 52;
update users set created_at = "2020-04-16" where id = 53;
update users set created_at = "2019-03-26" where id = 54;
update users set created_at = "2018-04-13" where id = 55;
update users set created_at = "2021-03-25" where id = 56;
update users set created_at = "2020-02-28" where id = 57;
update users set created_at = "2021-04-22" where id = 58;
update users set created_at = "2021-04-08" where id = 59;
update users set created_at = "2019-03-16" where id = 60;
update users set created_at = "2020-03-05" where id = 61;
update users set created_at = "2018-03-23" where id = 62;
update users set created_at = "2019-01-13" where id = 63;
update users set created_at = "2018-02-24" where id = 64;
update users set created_at = "2020-01-19" where id = 65;
update users set created_at = "2020-04-11" where id = 66;
update users set created_at = "2021-01-01" where id = 67;
update users set created_at = "2018-04-13" where id = 68;
update users set created_at = "2018-01-27" where id = 69;
update users set created_at = "2020-02-08" where id = 70;
update users set created_at = "2020-01-11" where id = 71;
update users set created_at = "2021-02-07" where id = 72;
update users set created_at = "2020-01-19" where id = 73;
update users set created_at = "2018-02-24" where id = 74;
update users set created_at = "2018-04-07" where id = 75;
update users set created_at = "2018-01-11" where id = 76;
update users set created_at = "2021-01-15" where id = 77;
update users set created_at = "2019-04-07" where id = 78;
update users set created_at = "2021-03-17" where id = 79;
update users set created_at = "2019-03-09" where id = 80;
update users set created_at = "2018-03-07" where id = 81;
update users set created_at = "2020-04-11" where id = 82;
update users set created_at = "2019-04-06" where id = 83;
update users set created_at = "2021-04-12" where id = 84;
update users set created_at = "2018-04-24" where id = 85;
update users set created_at = "2018-03-27" where id = 86;
update users set created_at = "2018-01-02" where id = 87;
update users set created_at = "2018-02-24" where id = 88;
update users set created_at = "2021-01-23" where id = 89;
update users set created_at = "2019-04-27" where id = 90;
update users set created_at = "2018-01-18" where id = 91;
update users set created_at = "2018-04-09" where id = 92;
update users set created_at = "2020-03-24" where id = 93;
update users set created_at = "2020-02-13" where id = 94;
update users set created_at = "2018-02-28" where id = 95;
update users set created_at = "2021-01-16" where id = 96;
update users set created_at = "2019-03-20" where id = 97;
update users set created_at = "2019-01-18" where id = 98;
update users set created_at = "2021-03-06" where id = 99;
update users set created_at = "2018-01-28" where id = 100;
update users set created_at = "2019-02-12" where id = 101;
update users set created_at = "2019-01-01" where id = 102;
update users set created_at = "2021-02-05" where id = 103;
update users set created_at = "2019-03-04" where id = 104;
update users set created_at = "2018-02-16" where id = 105;
update users set created_at = "2021-02-19" where id = 106;
update users set created_at = "2020-03-20" where id = 107;
update users set created_at = "2019-02-27" where id = 108;
update users set created_at = "2019-04-05" where id = 109;
update users set created_at = "2019-01-06" where id = 110;
update users set created_at = "2020-01-21" where id = 111;
update users set created_at = "2018-03-13" where id = 112;
update users set created_at = "2020-01-02" where id = 113;
update users set created_at = "2018-03-25" where id = 114;
update users set created_at = "2021-01-01" where id = 115;
update users set created_at = "2018-03-05" where id = 116;
update users set created_at = "2018-02-04" where id = 117;
update users set created_at = "2021-03-18" where id = 118;
update users set created_at = "2020-01-01" where id = 119;
update users set created_at = "2021-02-21" where id = 120;
update users set created_at = "2019-02-26" where id = 121;
update users set created_at = "2020-04-01" where id = 122;
update users set created_at = "2019-03-02" where id = 123;
update users set created_at = "2021-02-04" where id = 124;
update users set created_at = "2021-03-06" where id = 125;
update users set created_at = "2019-04-28" where id = 126;
update users set created_at = "2018-02-26" where id = 127;
update users set created_at = "2019-01-28" where id = 128;
update users set created_at = "2019-01-18" where id = 129;
update users set created_at = "2019-03-04" where id = 130;
update users set created_at = "2020-01-09" where id = 131;
update users set created_at = "2018-02-26" where id = 132;
update users set created_at = "2021-04-20" where id = 133;
update users set created_at = "2019-01-22" where id = 134;
update users set created_at = "2018-04-16" where id = 135;
update users set created_at = "2021-02-11" where id = 136;
update users set created_at = "2018-03-01" where id = 137;
update users set created_at = "2019-03-16" where id = 138;
update users set created_at = "2020-04-11" where id = 139;
update users set created_at = "2018-02-21" where id = 140;
update users set created_at = "2018-04-03" where id = 141;
update users set created_at = "2019-01-25" where id = 142;
update users set created_at = "2018-01-22" where id = 143;
update users set created_at = "2020-03-11" where id = 144;
update users set created_at = "2020-02-17" where id = 145;
update users set created_at = "2019-03-23" where id = 146;
update users set created_at = "2018-04-10" where id = 147;
update users set created_at = "2018-03-27" where id = 148;
update users set created_at = "2019-01-14" where id = 149;
update users set created_at = "2018-04-03" where id = 150;
update users set created_at = "2021-01-13" where id = 151;
update users set created_at = "2020-03-01" where id = 152;
update users set created_at = "2018-02-03" where id = 153;
update users set created_at = "2018-01-01" where id = 154;
update users set created_at = "2021-03-13" where id = 155;
update users set created_at = "2019-04-25" where id = 156;
update users set created_at = "2019-02-22" where id = 157;
update users set created_at = "2021-01-27" where id = 158;
update users set created_at = "2019-02-13" where id = 159;
update users set created_at = "2018-03-01" where id = 160;
update users set created_at = "2019-01-28" where id = 161;
update users set created_at = "2020-02-02" where id = 162;
update users set created_at = "2020-03-15" where id = 163;
update users set created_at = "2018-02-23" where id = 164;
update users set created_at = "2020-02-24" where id = 165;
update users set created_at = "2021-04-15" where id = 166;
update users set created_at = "2021-01-03" where id = 167;
update users set created_at = "2021-04-07" where id = 168;
update users set created_at = "2021-03-22" where id = 169;
update users set created_at = "2019-03-08" where id = 170;
update users set created_at = "2020-01-16" where id = 171;
update users set created_at = "2020-03-25" where id = 172;
update users set created_at = "2019-03-16" where id = 173;
update users set created_at = "2021-02-13" where id = 174;
update users set created_at = "2021-01-16" where id = 175;
update users set created_at = "2021-01-05" where id = 176;
update users set created_at = "2020-04-21" where id = 177;
update users set created_at = "2020-01-13" where id = 178;
update users set created_at = "2019-01-02" where id = 179;
update users set created_at = "2018-04-22" where id = 180;
update users set created_at = "2019-02-19" where id = 181;
update users set created_at = "2021-02-18" where id = 182;
update users set created_at = "2019-01-23" where id = 183;
update users set created_at = "2021-01-18" where id = 184;
update users set created_at = "2020-01-10" where id = 185;
update users set created_at = "2021-04-24" where id = 186;
update users set created_at = "2020-04-06" where id = 187;
update users set created_at = "2020-01-06" where id = 188;
update users set created_at = "2019-03-01" where id = 189;
update users set created_at = "2018-03-11" where id = 190;
update users set created_at = "2021-04-14" where id = 191;
update users set created_at = "2020-04-20" where id = 192;
update users set created_at = "2019-01-10" where id = 193;
update users set created_at = "2019-04-19" where id = 194;
update users set created_at = "2021-01-06" where id = 195;
update users set created_at = "2021-03-28" where id = 196;
update users set created_at = "2018-04-01" where id = 197;
update users set created_at = "2020-02-21" where id = 198;
update users set created_at = "2018-01-04" where id = 199;
update users set created_at = "2019-03-04" where id = 200;

In [31]:
# book_copies (added_at)
for i in range(5001,5501):
  date=datetime.date(randint(2016,2018), randint(1,4),randint(1,28))
  d = str(date)  
  print("update book_copies set added_at = " + '"' + d + '"'  " where id = " + str(i)+";" )

update book_copies set added_at = "2016-03-19" where id = 5001;
update book_copies set added_at = "2016-02-24" where id = 5002;
update book_copies set added_at = "2017-03-19" where id = 5003;
update book_copies set added_at = "2018-02-22" where id = 5004;
update book_copies set added_at = "2017-03-19" where id = 5005;
update book_copies set added_at = "2018-03-07" where id = 5006;
update book_copies set added_at = "2018-01-21" where id = 5007;
update book_copies set added_at = "2017-03-01" where id = 5008;
update book_copies set added_at = "2017-03-19" where id = 5009;
update book_copies set added_at = "2016-02-26" where id = 5010;
update book_copies set added_at = "2016-03-27" where id = 5011;
update book_copies set added_at = "2017-01-28" where id = 5012;
update book_copies set added_at = "2018-01-18" where id = 5013;
update book_copies set added_at = "2017-04-13" where id = 5014;
update book_copies set added_at = "2018-03-08" where id = 5015;
update book_copies set added_at = "2018-04-20" where id = 5016;
update book_copies set added_at = "2017-03-28" where id = 5017;
update book_copies set added_at = "2018-04-20" where id = 5018;
update book_copies set added_at = "2017-04-24" where id = 5019;
update book_copies set added_at = "2018-01-05" where id = 5020;
update book_copies set added_at = "2018-01-06" where id = 5021;
update book_copies set added_at = "2018-01-01" where id = 5022;
update book_copies set added_at = "2018-03-16" where id = 5023;
update book_copies set added_at = "2018-01-09" where id = 5024;
update book_copies set added_at = "2018-03-18" where id = 5025;
update book_copies set added_at = "2018-02-22" where id = 5026;
update book_copies set added_at = "2018-03-16" where id = 5027;
update book_copies set added_at = "2017-02-15" where id = 5028;
update book_copies set added_at = "2017-01-06" where id = 5029;
update book_copies set added_at = "2018-04-09" where id = 5030;
update book_copies set added_at = "2018-04-09" where id = 5031;
update book_copies set added_at = "2018-01-14" where id = 5032;
update book_copies set added_at = "2016-01-14" where id = 5033;
update book_copies set added_at = "2018-01-02" where id = 5034;
update book_copies set added_at = "2016-01-02" where id = 5035;
update book_copies set added_at = "2017-04-25" where id = 5036;
update book_copies set added_at = "2018-02-08" where id = 5037;
update book_copies set added_at = "2018-01-03" where id = 5038;
update book_copies set added_at = "2017-04-22" where id = 5039;
update book_copies set added_at = "2018-04-26" where id = 5040;
update book_copies set added_at = "2017-03-09" where id = 5041;
update book_copies set added_at = "2016-04-20" where id = 5042;
update book_copies set added_at = "2017-04-12" where id = 5043;
update book_copies set added_at = "2018-01-26" where id = 5044;
update book_copies set added_at = "2018-02-28" where id = 5045;
update book_copies set added_at = "2017-04-07" where id = 5046;
update book_copies set added_at = "2018-01-08" where id = 5047;
update book_copies set added_at = "2018-03-03" where id = 5048;
update book_copies set added_at = "2017-02-22" where id = 5049;
update book_copies set added_at = "2017-01-27" where id = 5050;
update book_copies set added_at = "2016-02-06" where id = 5051;
update book_copies set added_at = "2017-03-26" where id = 5052;
update book_copies set added_at = "2017-02-25" where id = 5053;
update book_copies set added_at = "2017-03-09" where id = 5054;
update book_copies set added_at = "2017-03-05" where id = 5055;
update book_copies set added_at = "2017-03-19" where id = 5056;
update book_copies set added_at = "2018-01-03" where id = 5057;
update book_copies set added_at = "2017-04-19" where id = 5058;
update book_copies set added_at = "2016-04-07" where id = 5059;
update book_copies set added_at = "2017-03-11" where id = 5060;
update book_copies set added_at = "2018-04-24" where id = 5061;
update book_copies set added_at = "2017-03-07" where id = 5062;
update book_copies set added_at = "2017-03-28" where id = 5063;
update book_copies set added_at = "2016-02-01" where id = 5064;
update book_copies set added_at = "2018-03-08" where id = 5065;
update book_copies set added_at = "2016-04-26" where id = 5066;
update book_copies set added_at = "2017-02-06" where id = 5067;
update book_copies set added_at = "2018-01-20" where id = 5068;
update book_copies set added_at = "2017-03-25" where id = 5069;
update book_copies set added_at = "2017-04-24" where id = 5070;
update book_copies set added_at = "2017-03-03" where id = 5071;
update book_copies set added_at = "2017-03-05" where id = 5072;
update book_copies set added_at = "2017-01-13" where id = 5073;
update book_copies set added_at = "2017-03-09" where id = 5074;
update book_copies set added_at = "2018-01-06" where id = 5075;
update book_copies set added_at = "2018-02-01" where id = 5076;
update book_copies set added_at = "2018-02-06" where id = 5077;
update book_copies set added_at = "2018-03-09" where id = 5078;
update book_copies set added_at = "2018-02-28" where id = 5079;
update book_copies set added_at = "2016-03-13" where id = 5080;
update book_copies set added_at = "2016-02-20" where id = 5081;
update book_copies set added_at = "2018-04-17" where id = 5082;
update book_copies set added_at = "2016-01-21" where id = 5083;
update book_copies set added_at = "2018-04-10" where id = 5084;
update book_copies set added_at = "2016-02-24" where id = 5085;
update book_copies set added_at = "2018-01-16" where id = 5086;
update book_copies set added_at = "2018-04-24" where id = 5087;
update book_copies set added_at = "2017-04-07" where id = 5088;
update book_copies set added_at = "2017-04-01" where id = 5089;
update book_copies set added_at = "2018-02-22" where id = 5090;
update book_copies set added_at = "2016-02-13" where id = 5091;
update book_copies set added_at = "2018-01-10" where id = 5092;
update book_copies set added_at = "2018-03-12" where id = 5093;
update book_copies set added_at = "2017-01-12" where id = 5094;
update book_copies set added_at = "2016-02-19" where id = 5095;
update book_copies set added_at = "2018-04-02" where id = 5096;
update book_copies set added_at = "2018-04-22" where id = 5097;
update book_copies set added_at = "2017-02-17" where id = 5098;
update book_copies set added_at = "2016-02-03" where id = 5099;
update book_copies set added_at = "2018-01-25" where id = 5100;
update book_copies set added_at = "2018-03-18" where id = 5101;
update book_copies set added_at = "2017-04-06" where id = 5102;
update book_copies set added_at = "2017-03-25" where id = 5103;
update book_copies set added_at = "2016-02-28" where id = 5104;
update book_copies set added_at = "2018-01-05" where id = 5105;
update book_copies set added_at = "2017-04-08" where id = 5106;
update book_copies set added_at = "2017-04-01" where id = 5107;
update book_copies set added_at = "2016-03-23" where id = 5108;
update book_copies set added_at = "2018-04-09" where id = 5109;
update book_copies set added_at = "2016-01-11" where id = 5110;
update book_copies set added_at = "2016-04-01" where id = 5111;
update book_copies set added_at = "2018-01-03" where id = 5112;
update book_copies set added_at = "2016-04-22" where id = 5113;
update book_copies set added_at = "2016-02-27" where id = 5114;
update book_copies set added_at = "2018-01-14" where id = 5115;
update book_copies set added_at = "2017-01-20" where id = 5116;
update book_copies set added_at = "2018-02-02" where id = 5117;
update book_copies set added_at = "2018-02-12" where id = 5118;
update book_copies set added_at = "2017-02-08" where id = 5119;
update book_copies set added_at = "2016-02-04" where id = 5120;
update book_copies set added_at = "2018-02-04" where id = 5121;
update book_copies set added_at = "2018-04-21" where id = 5122;
update book_copies set added_at = "2018-03-09" where id = 5123;
update book_copies set added_at = "2017-03-08" where id = 5124;
update book_copies set added_at = "2016-03-03" where id = 5125;
update book_copies set added_at = "2017-01-15" where id = 5126;
update book_copies set added_at = "2017-02-17" where id = 5127;
update book_copies set added_at = "2017-01-22" where id = 5128;
update book_copies set added_at = "2016-01-01" where id = 5129;
update book_copies set added_at = "2016-03-25" where id = 5130;
update book_copies set added_at = "2018-01-03" where id = 5131;
update book_copies set added_at = "2017-04-22" where id = 5132;
update book_copies set added_at = "2017-01-08" where id = 5133;
update book_copies set added_at = "2016-03-19" where id = 5134;
update book_copies set added_at = "2017-04-06" where id = 5135;
update book_copies set added_at = "2017-01-22" where id = 5136;
update book_copies set added_at = "2017-03-05" where id = 5137;
update book_copies set added_at = "2018-03-27" where id = 5138;
update book_copies set added_at = "2018-02-18" where id = 5139;
update book_copies set added_at = "2016-04-02" where id = 5140;
update book_copies set added_at = "2017-02-20" where id = 5141;
update book_copies set added_at = "2016-01-19" where id = 5142;
update book_copies set added_at = "2018-02-21" where id = 5143;
update book_copies set added_at = "2017-01-04" where id = 5144;
update book_copies set added_at = "2017-03-17" where id = 5145;
update book_copies set added_at = "2017-01-18" where id = 5146;
update book_copies set added_at = "2017-02-20" where id = 5147;
update book_copies set added_at = "2016-01-19" where id = 5148;
update book_copies set added_at = "2017-02-16" where id = 5149;
update book_copies set added_at = "2017-04-14" where id = 5150;
update book_copies set added_at = "2018-02-11" where id = 5151;
update book_copies set added_at = "2016-01-07" where id = 5152;
update book_copies set added_at = "2017-04-28" where id = 5153;
update book_copies set added_at = "2017-02-16" where id = 5154;
update book_copies set added_at = "2017-01-12" where id = 5155;
update book_copies set added_at = "2016-04-24" where id = 5156;
update book_copies set added_at = "2018-03-17" where id = 5157;
update book_copies set added_at = "2018-02-27" where id = 5158;
update book_copies set added_at = "2016-04-02" where id = 5159;
update book_copies set added_at = "2018-02-27" where id = 5160;
update book_copies set added_at = "2016-04-24" where id = 5161;
update book_copies set added_at = "2017-01-27" where id = 5162;
update book_copies set added_at = "2018-04-06" where id = 5163;
update book_copies set added_at = "2018-03-17" where id = 5164;
update book_copies set added_at = "2018-01-04" where id = 5165;
update book_copies set added_at = "2018-02-08" where id = 5166;
update book_copies set added_at = "2016-01-09" where id = 5167;
update book_copies set added_at = "2017-03-09" where id = 5168;
update book_copies set added_at = "2018-03-19" where id = 5169;
update book_copies set added_at = "2017-04-03" where id = 5170;
update book_copies set added_at = "2016-04-28" where id = 5171;
update book_copies set added_at = "2016-01-20" where id = 5172;
update book_copies set added_at = "2018-01-19" where id = 5173;
update book_copies set added_at = "2017-03-27" where id = 5174;
update book_copies set added_at = "2016-02-10" where id = 5175;
update book_copies set added_at = "2018-04-09" where id = 5176;
update book_copies set added_at = "2016-01-20" where id = 5177;
update book_copies set added_at = "2018-02-14" where id = 5178;
update book_copies set added_at = "2017-03-03" where id = 5179;
update book_copies set added_at = "2016-02-27" where id = 5180;
update book_copies set added_at = "2018-01-04" where id = 5181;
update book_copies set added_at = "2017-04-14" where id = 5182;
update book_copies set added_at = "2016-03-11" where id = 5183;
update book_copies set added_at = "2017-04-26" where id = 5184;
update book_copies set added_at = "2017-01-01" where id = 5185;
update book_copies set added_at = "2016-03-09" where id = 5186;
update book_copies set added_at = "2018-01-14" where id = 5187;
update book_copies set added_at = "2016-03-20" where id = 5188;
update book_copies set added_at = "2017-03-15" where id = 5189;
update book_copies set added_at = "2016-01-05" where id = 5190;
update book_copies set added_at = "2017-04-22" where id = 5191;
update book_copies set added_at = "2017-02-10" where id = 5192;
update book_copies set added_at = "2018-03-01" where id = 5193;
update book_copies set added_at = "2017-03-27" where id = 5194;
update book_copies set added_at = "2018-04-16" where id = 5195;
update book_copies set added_at = "2018-03-13" where id = 5196;
update book_copies set added_at = "2017-03-13" where id = 5197;
update book_copies set added_at = "2018-01-18" where id = 5198;
update book_copies set added_at = "2018-03-06" where id = 5199;
update book_copies set added_at = "2017-04-01" where id = 5200;
update book_copies set added_at = "2018-03-27" where id = 5201;
update book_copies set added_at = "2016-01-07" where id = 5202;
update book_copies set added_at = "2017-01-18" where id = 5203;
update book_copies set added_at = "2016-04-09" where id = 5204;
update book_copies set added_at = "2018-04-21" where id = 5205;
update book_copies set added_at = "2016-03-04" where id = 5206;
update book_copies set added_at = "2016-02-01" where id = 5207;
update book_copies set added_at = "2018-02-11" where id = 5208;
update book_copies set added_at = "2016-01-17" where id = 5209;
update book_copies set added_at = "2018-02-09" where id = 5210;
update book_copies set added_at = "2018-02-16" where id = 5211;
update book_copies set added_at = "2017-04-13" where id = 5212;
update book_copies set added_at = "2018-03-18" where id = 5213;
update book_copies set added_at = "2017-04-01" where id = 5214;
update book_copies set added_at = "2016-02-10" where id = 5215;
update book_copies set added_at = "2017-04-02" where id = 5216;
update book_copies set added_at = "2016-01-24" where id = 5217;
update book_copies set added_at = "2016-01-07" where id = 5218;
update book_copies set added_at = "2016-02-07" where id = 5219;
update book_copies set added_at = "2016-04-09" where id = 5220;
update book_copies set added_at = "2018-04-09" where id = 5221;
update book_copies set added_at = "2018-01-23" where id = 5222;
update book_copies set added_at = "2016-03-10" where id = 5223;
update book_copies set added_at = "2017-03-20" where id = 5224;
update book_copies set added_at = "2017-02-12" where id = 5225;
update book_copies set added_at = "2017-02-14" where id = 5226;
update book_copies set added_at = "2016-02-22" where id = 5227;
update book_copies set added_at = "2018-03-05" where id = 5228;
update book_copies set added_at = "2016-01-01" where id = 5229;
update book_copies set added_at = "2018-02-24" where id = 5230;
update book_copies set added_at = "2016-01-27" where id = 5231;
update book_copies set added_at = "2017-04-02" where id = 5232;
update book_copies set added_at = "2016-03-15" where id = 5233;
update book_copies set added_at = "2018-02-04" where id = 5234;
update book_copies set added_at = "2018-04-19" where id = 5235;
update book_copies set added_at = "2016-03-18" where id = 5236;
update book_copies set added_at = "2017-03-19" where id = 5237;
update book_copies set added_at = "2018-02-24" where id = 5238;
update book_copies set added_at = "2018-03-12" where id = 5239;
update book_copies set added_at = "2018-01-27" where id = 5240;
update book_copies set added_at = "2018-02-10" where id = 5241;
update book_copies set added_at = "2016-02-07" where id = 5242;
update book_copies set added_at = "2016-04-19" where id = 5243;
update book_copies set added_at = "2017-04-02" where id = 5244;
update book_copies set added_at = "2017-02-20" where id = 5245;
update book_copies set added_at = "2018-03-12" where id = 5246;
update book_copies set added_at = "2016-02-13" where id = 5247;
update book_copies set added_at = "2016-03-19" where id = 5248;
update book_copies set added_at = "2016-04-27" where id = 5249;
update book_copies set added_at = "2017-03-05" where id = 5250;
update book_copies set added_at = "2016-03-14" where id = 5251;
update book_copies set added_at = "2018-01-14" where id = 5252;
update book_copies set added_at = "2016-03-27" where id = 5253;
update book_copies set added_at = "2017-02-25" where id = 5254;
update book_copies set added_at = "2018-02-10" where id = 5255;
update book_copies set added_at = "2018-02-14" where id = 5256;
update book_copies set added_at = "2017-03-13" where id = 5257;
update book_copies set added_at = "2016-03-24" where id = 5258;
update book_copies set added_at = "2017-04-16" where id = 5259;
update book_copies set added_at = "2016-02-11" where id = 5260;
update book_copies set added_at = "2017-01-08" where id = 5261;
update book_copies set added_at = "2016-02-28" where id = 5262;
update book_copies set added_at = "2016-03-28" where id = 5263;
update book_copies set added_at = "2016-03-19" where id = 5264;
update book_copies set added_at = "2016-02-07" where id = 5265;
update book_copies set added_at = "2018-02-02" where id = 5266;
update book_copies set added_at = "2017-04-08" where id = 5267;
update book_copies set added_at = "2018-03-14" where id = 5268;
update book_copies set added_at = "2018-02-04" where id = 5269;
update book_copies set added_at = "2016-04-09" where id = 5270;
update book_copies set added_at = "2017-03-19" where id = 5271;
update book_copies set added_at = "2017-02-05" where id = 5272;
update book_copies set added_at = "2017-01-07" where id = 5273;
update book_copies set added_at = "2017-04-10" where id = 5274;
update book_copies set added_at = "2018-02-01" where id = 5275;
update book_copies set added_at = "2016-01-05" where id = 5276;
update book_copies set added_at = "2018-02-09" where id = 5277;
update book_copies set added_at = "2016-01-28" where id = 5278;
update book_copies set added_at = "2017-01-03" where id = 5279;
update book_copies set added_at = "2016-04-09" where id = 5280;
update book_copies set added_at = "2018-02-20" where id = 5281;
update book_copies set added_at = "2018-02-14" where id = 5282;
update book_copies set added_at = "2018-02-03" where id = 5283;
update book_copies set added_at = "2017-03-11" where id = 5284;
update book_copies set added_at = "2016-03-26" where id = 5285;
update book_copies set added_at = "2017-01-19" where id = 5286;
update book_copies set added_at = "2017-03-05" where id = 5287;
update book_copies set added_at = "2016-04-02" where id = 5288;
update book_copies set added_at = "2018-02-04" where id = 5289;
update book_copies set added_at = "2016-02-01" where id = 5290;
update book_copies set added_at = "2018-03-12" where id = 5291;
update book_copies set added_at = "2017-03-17" where id = 5292;
update book_copies set added_at = "2017-03-12" where id = 5293;
update book_copies set added_at = "2016-03-03" where id = 5294;
update book_copies set added_at = "2016-01-09" where id = 5295;
update book_copies set added_at = "2018-04-24" where id = 5296;
update book_copies set added_at = "2018-04-16" where id = 5297;
update book_copies set added_at = "2016-04-01" where id = 5298;
update book_copies set added_at = "2018-02-02" where id = 5299;
update book_copies set added_at = "2016-03-18" where id = 5300;
update book_copies set added_at = "2016-01-27" where id = 5301;
update book_copies set added_at = "2018-02-14" where id = 5302;
update book_copies set added_at = "2017-04-08" where id = 5303;
update book_copies set added_at = "2016-03-19" where id = 5304;
update book_copies set added_at = "2016-04-12" where id = 5305;
update book_copies set added_at = "2016-01-21" where id = 5306;
update book_copies set added_at = "2018-01-27" where id = 5307;
update book_copies set added_at = "2018-02-08" where id = 5308;
update book_copies set added_at = "2017-02-26" where id = 5309;
update book_copies set added_at = "2016-01-08" where id = 5310;
update book_copies set added_at = "2016-01-16" where id = 5311;
update book_copies set added_at = "2016-03-26" where id = 5312;